<!DOCTYPE html>
<html>
  <head>
    <title> Jash Home Page </title>
    <style>
      h1{font-family: Calibri;}
      h3{font-family: Calibri;}
      p{font-family: Calibri;}
    </style>
  </head>
  <body>
    <h1>Work in progress</h1>
    <h3>Games</h3>
    <h3>Coding Projects</h3>
    <h3>Music</h3>
    <text></text>
    <img src = static/pepe.jpg >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi nulla, sagittis at enim id, sollicitudin facilisis nibh. Fusce sagittis lacus tortor, vel pretium turpis consequat et.</p>
    <button> Not a link </button>
  </body>
</html>